*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
        display: flex;
    justify-content: center;
    align-items: center;

}

body::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
    z-index: -1;
clip-path: polygon(90% 9.5%, 9.5% 90%, 90% 90%);

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container{
    background: rgba(255,255,255,0.1);
    width: 80%;
    height: 80%;
    border-radius: 20px;
        overflow: hidden;


}

header nav{
    width: 80%;
    margin:35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header nav a{
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 20px;

}

header nav a:hover{
    background-color: aqua;
}

header nav ul li a{
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;
}

header nav ul li a:hover{
    color: rgb(255, 255, 255);
}
.content{
    color: white;
    width: 90%;
    margin: auto;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .content-text h2{
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.3;
}


.content .content-text p{
    margin: 10px 0;
    width: 300px;
    letter-spacing: 1px;
    line-height:1.4;
    font-weight: 500;
}

.image{
    width:40%;
}

img{
    width: 400px;
}



@media (max-width:1160px){
.content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto; 
        margin-top: 20px;
    }
    
   .content .image, .content .text{
    width: 80%;
   }

.content .content-text p {
    width: 100%; /* أو الغي الـ width خالص */
    text-align: center;
    margin:10px auto;
}
.image {
    width: 100%; /* عشان يضمن إنه واخد عرض الشاشة في الموبايل */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 550px;
    height: auto; /* عشان الصورة متتمطش */
}
   body::after{
clip-path: circle(60% at bottom)
}

nav{
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

nav ul li a{
    padding: 5px;
}


   }

